{% extends "main/base.html" %}
{% load static %}
{% block title %}Sign in{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-6">
           <div class="card">
              <h3 class="card-header">Login</h3>
              <div class="card-block">
                <form method="post" action="">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.name }}">{{ field.label }}:</label>
                    {{ field }}
                </div>
                {% endfor %}
                <div class="col text-center">
                <button class="btn btn-primary text-center" type="submit">Sign in</button>
                </div>
                </form>
              </div>
            </div>
        </div>
    </div>
{% endblock %}