{% extends "main/base.html" %}
{% load discussions_extras %}
{% load static %}
{% block title %}Sign in{% endblock %}
{% block body %}
    <div class="container">
    <h3>Posts by admins</h3><hr>
        {% for post in posts %}<br>
            <div class="row">
                <div class="col-10 offset-1">
                   <div class="card">
                      <h3 class="card-header">{{ post.title }} <small>&nbsp;by <a href="{% url 'main:profile' post.username %}">@{{ post.username }}</a> </small></h3>
                      <div class="card-block">
                        {{ post.description|truncatewords:35 }}
                          <div class="col text-right">
                              on <small style="font-size: medium" >{{ post.datetime }}</small>&nbsp;
                            </div>
                      </div>
                   </div>
                    <div style="margin-top: 7px" class="col text-right">
                        <a href="{% url 'main:post' 'P'|addstr:post.id %}"><button class="btn btn-primary text-center" type="submit">View post</button></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}