body {
  padding-top: 4.5rem;
    min-height: 100%;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


.votecell {
    vertical-align: top;
    padding-right: 15px;
}


.vote-count-post {
    color: #6a237c;
    margin-left: 8px;
}

.overflow {
    height: 104vh;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}


::-webkit-scrollbar {
    display: none;
}